<!DOCTYPE html>
<html lang="en" ng-app="latApp">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Loan EMI Calculator</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="loan-amortization-table.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100" >
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index.html"><img src="img/core-img/logo.png" alt="" style="height: 74px;"> </a>
                        </div>

                        <!-- Top Contact Info -->
                        <div class="top-contact-info d-flex align-items-center">
                           <!-- <a href="#" data-toggle="tooltip" data-placement="bottom" title="25 th Street Avenue, Los Angeles, CA"><img src="img/core-img/placeholder.png" alt=""> <span>25 th Street Avenue, Los Angeles, CA</span></a> 
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Login to Your Account"><img src="img/core-img/message.png" alt=""> <span>Login</span></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Bank</a></li>
                                    <li><a href="branches.html">Branches</a>
                                    </li>
                                    <li><a href="services.html">Banking Services</a></li>
                                    <li><a href="#">Customer Desk</a>
                                        <ul class="dropdown">
                                            <li><a href="Annual-Report2018-19.pdf">Annual Report</a></li>
                                            <li><a href="emi.html">Loan EMI Calculator</a></li>
                                            <li><a href="">Open Saving Account</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Contact -->
                        <div>
                           <a href="#"> <span style="font-size: 15px; font-weight: 600; color: white; border: 1px solid white; padding: 10px;"> 🔒 Login </span> </a>  
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/13.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Loan EMI Calculator</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Loan EMI Calculator</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Services Area Start ###### -->
    <section class="services-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-100">
                        <div class="line"></div>
                        <p>Take a look at our</p>
                        <h2>Calculate Monthly EMI of Your Loan</h2>
                    </div>
                </div>
            </div>
        </section>
            <div class="container">
                <div ng-controller="LoanAmortizationTableController as loanAmortTableCntrl">
                  <form ng-submit="loanAmortTableCntrl.calculate()" class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">Amount ₹</div>
                        <input type="text" class="form-control" ng-model="loanAmortTableCntrl.amount"  size="30"
                               placeholder="Amount of money to borrow">
                      </div>
                      <div class="input-group">
                        <input type="text" class="form-control text-right" ng-model="loanAmortTableCntrl.interestRate"  size="30"
                               placeholder="Annual percentage rate (APR)">
                        <div class="input-group-addon">% APR</div>
                      </div>
                       <div class="input-group">
                        <input type="text" class="form-control text-right" ng-model="loanAmortTableCntrl.numberOfMonths"  size="30"
                               placeholder="Number of months">
                        <div class="input-group-addon">Month(s)</div>
                      </div>
                      <input class="btn btn-primary" type="submit" value="Calculate">
                    </div>
                  </form>
                  <br>
                    <table class="table table-hover table-striped">
                      <tr>
                        <th>Month #</th>
                        <th>Payment</th>
                        <th>Principal</th>
                        <th>Intrest</th>
                        <th>Remaining Principal</th>
                      </tr>
                      <tr ng-repeat="periodicPayment in loanAmortTableCntrl.loanAmortTable">
                        <td><span>#{{periodicPayment.paymentNumber}}</span></td>
                        <td><span>₹{{periodicPayment.payment}}</span></td>
                        <td><span>₹{{periodicPayment.principalPayment}}</span></td>
                        <td><span>₹{{periodicPayment.interest}}</span></td>
                        <td><span>₹{{periodicPayment.principal}}</span></td>
                      </tr>
                    </table>
                  </div>
              </div>
              <br/>
              <br/>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Branches</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="#">Bagasara Branch</a></li>
                                <li><a href="#">Kukavav Branch</a></li>
                                <li><a href="#">Amreli Branch</a></li>
                                <li><a href="#">Bhesan Branch</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Quick Links</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="#">Annual Report</a></li>
                                <li><a href="#">Loan EMI Calculator</a></li>
                                <li><a href="#">How to Open Saving Account</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>


                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Bank Details</h5>
                        <!-- Single News Area -->
                        <div class="single-latest-news-area d-flex align-items-center">
                           <span style="color: white;">Bank REG. NO. 36749</span>
                        </div>
                        <div class="single-latest-news-area d-flex align-items-center">
                            <span style="color: white;">On Public Service Since 2009</span>
                         </div>
                    </div>
                </div>
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Contact us</h5>
                        <!-- Single News Area -->
                        <div class="single-latest-news-area d-flex align-items-center">
                           <span style="color: white;"> Shree Sardar Patel Sarafi Sahkari Mandali Limited</span>
                        </div>
                        <div class="single-latest-news-area d-flex align-items-center">
                            <img src="img/core-img/location.png"/> <span style="color: white; padding-left: 10px;"> "Shree Sardar Bhavan", Near Patel Vadi, Gokulpara, Bagasara, Dist-Amreli - 365440 </span>
                         </div>
                         <div class="single-latest-news-area d-flex align-items-center">
                            <img src="img/core-img/call.png"/> <span style="color: white; padding-left: 10px;"> 02796 222525 </span>
                         </div>
                    </div>
                </div>

                
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area" style="text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <p class="copywrite-text"><a href="">
Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | WILTEGIC </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>